<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Child Benefit tax calculator - GOV.UK</title>

    <!--[if gt IE 8]><!--><link href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" media="screen" rel="stylesheet">
<!--<![endif]-->
    <!--[if IE 6]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" media="print" rel="stylesheet">

    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" media="all" rel="stylesheet">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js"></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-a0097118fe9226ce1ffde1ccfeb86c61be3607915046196c99f68b9548485ad3.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-2a9380568f141be23b282c5ce3291c7c5d19ca1b75a46b64b0692db7aa3499a3.css">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-6b1016a81f1d20c400edff1e670911fb25cd9f485d60140b7d9a3310b5274ab5.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-2006e7669d3dbe2a43e40d2eecc55b3b6d4d02ef239f4e7a1effaae7df22c42f.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-0cf2a0b28d7a9f7264e73d8f74e52dded3ba911837b573fbd7aaeaa2c1a50bde.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-63130f3b3fe879797c3ec86076d758bc14d0ea75658f6852aa7c990623a07174.css">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/calculators/application-25df1eda9da5c26a55e97e398c97bd11ccc9f841c34b1e4c390eee45580c5ebe.css">
<!--<![endif]--><meta name="description" content="Work out the Child Benefit you've received and your High Income Child Benefit tax charge">
<meta name="govuk:format" content="calculator">
<meta name="govuk:schema-name" content="generic">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="other">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/calculators/application-ie6-6f60e25f01b3bfced5cf83adbcebeb4921a794dce62bbb7ce217b1ee77fd76c2.css" /><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/calculators/application-ie7-14a8b111c42ab278b51f2d3040ea4156d91ebb2c8a581db66601f497ca864a1a.css" /><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/calculators/application-ie8-f448dce9c8223654417f894e6f18169a8e233cdc1d3b92a9d7b31bda0d2b1fad.css" /><![endif]--><meta name="govuk:rendering-application" content="calculators">
</head>

<% content_for :title, "Child Benefit tax calculator" %>

<%= render 'govuk_component/title', title: "Child Benefit tax calculator" %>

<div class="grid-row">
  <article role="article" class="column-two-thirds">
    <%= form_tag("main/process_form", method: :get, id: "child_benefit_tax_calculator", class: "calculator-form") do %>
      <%# hidden field to store the tax year so it can persist %>
      <input type="hidden" name="year" value="<%= params[:year] %>" />

      <% if @calculator.has_errors? -%>
        <div role="group" aria-labelledby="error-heading" tabindex="-1" class="error-summary" id="results">
          <h2 id="error-heading">Please check the form</h2>
          <ul class="error-summary-list">
            <%# TODO: This could be tidied up into a model or helper method %>
            <% @calculator.starting_children.map(&:errors).map(&:messages).map(&:values).flatten.uniq.each do |message| %>
              <li><a href="#children_heading"><%= message %></a></li>
            <% end %>
            <% @calculator.errors.each do |key, message| %>
              <li><a href="#<%= key %>"><%= message %></a></li>
            <% end %>
          </ul>
        </div>
      <% end -%>

      <fieldset>
        <%= step(1, "How many children do you want to claim Child Benefit for?") %>
        <label for="children_count" class="visuallyhidden">Number of children</label>
        <%= select_tag "children_count", options_for_select((1..10).collect{|n| [n,n]}, @calculator.children_count), :class => "form-control" %>
        <%= submit_tag "Update", :name => "children", :class => "js-hidden button update-button" %>
      </fieldset>

      <fieldset id="tax_year">
        <%= step(2, "Which tax year are you claiming for?") %>
        <p>Tax years run from 6 April to 5 April the following year.</p>
        <div class="form-group <% if @calculator.errors.has_key?(:tax_year) %> form-group-error<% end %>">
          <div class="tax-year">
            <% @calculator.errors[:tax_year].each do |message| %>
              <span class="error-message"><%= message.capitalize %></span>
            <% end %>
            <% ChildBenefitTaxCalculator::TAX_YEARS.keys.each do |year| -%>
              <div class="multiple-choice">
                <%= radio_button_tag "year", year, (@calculator.tax_year == year.to_i) %>
                <label for="year_<%= year %>">
                  <%= tax_year_label(year) %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      </fieldset>

      <fieldset id="is_part_year_claim">
        <%= step(3, "Are you claiming for only a part of the tax year for any of your children?") %>
        <div class="form-group <% if @calculator.errors.has_key?(:is_part_year_claim) %> form-group-error<% end %>">
          <div class="is-part-year-claim">
            <% @calculator.errors[:is_part_year_claim].each do |message| %>
              <span class="error-message"><%= message.capitalize %></span>
            <% end -%>
            <% ["yes", "no"].each do |option| %>
              <div class="multiple-choice">
                <%= radio_button_tag "is_part_year_claim", option, (@calculator.is_part_year_claim == option) %>
                <label for="is_part_year_claim_<%= option %>">
                  <%= option.capitalize %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      </fieldset>

      <fieldset class="adjusted-income">
        <%= step(4, "Enter your income details for the tax year (optional):") %>
        <ul id="step-4-description">
          <li>don’t combine your household income</li>
          <li>use your partner’s income if it’s higher than yours</li>
          <li>you can get some of this information from your P60, P11D, employer or tax adviser</li>
        </ul>
        <div class="form-group">
          <%= label_tag "gross_income", "Salary before tax", class: "form-label" %>
          <%= money_input "gross_income", @adjusted_net_income_calculator.gross_income, 'aria-describedby' => 'step-4-description', class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag "other_income", "Other employment income - for example taxable benefits (like a company car or medical insurance) or bonuses", class: "form-label" %>
          <%= money_input "other_income", @adjusted_net_income_calculator.other_income, 'aria-describedby' => 'step-4-description', class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag "pension_contributions_from_pay", "Pension contributions deducted from your pay (don't include contributions deducted before tax)", class: "form-label" %>
          <%= money_input "pension_contributions_from_pay", @adjusted_net_income_calculator.pension_contributions_from_pay, 'aria-describedby' => 'step-4-description', class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag "retirement_annuities", "Retirement annuity contracts", class: "form-label" %>
          <%= money_input "retirement_annuities", @adjusted_net_income_calculator.retirement_annuities, 'aria-describedby' => 'step-4-description', class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag "cycle_scheme", "Cycle scheme", class: "form-label" %>
          <%= money_input "cycle_scheme", @adjusted_net_income_calculator.cycle_scheme, 'aria-describedby' => 'step-4-description', class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag "childcare", "Childcare paid directly by your employer - for example childcare vouchers (for the whole year but no more than £55 a week) or the value of any workplace nursery places", class: "form-label" %>
          <%= money_input "childcare", @adjusted_net_income_calculator.childcare, 'aria-describedby' => 'step-4-description', class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag "pensions", "Income from pension(s) - for example from a state pension", class: "form-label" %>
          <%= money_input "pensions", @adjusted_net_income_calculator.pensions, 'aria-describedby' => 'step-4-description', class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag "property", "Income from property - for example rental income", class: "form-label" %>
          <%= money_input "property", @adjusted_net_income_calculator.property, 'aria-describedby' => 'step-4-description', class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag "non_employment_income", "Other income before tax - for example profits from self-employment, taxable savings, dividends", class: "form-label" %>
          <%= money_input "non_employment_income", @adjusted_net_income_calculator.non_employment_income, 'aria-describedby' => 'step-4-description', class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag "gift_aid_donations", "Gift Aid donations", class: "form-label" %>
          <%= money_input "gift_aid_donations", @adjusted_net_income_calculator.gift_aid_donations, 'aria-describedby' => 'step-4-description', class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag "outgoing_pension_contributions", "Pension contributions not paid from your salary (the amount you actually paid, not the grossed-up amount)", class: "form-label" %>
          <%= money_input "outgoing_pension_contributions", @adjusted_net_income_calculator.outgoing_pension_contributions, 'aria-describedby' => 'step-4-description', class: "form-control" %>
        </div>

        <%= submit_tag "Calculate", name: "results", class: "button" %>
      </fieldset>
    <% end %>

    <div id="children-template" style="display:none" class="panel panel-border-wide">
      <div class="part-year-children-count">
        <h2>How many children do you want to claim only a part of the tax year for?</h2>
        <label for="part_year_children_count" class="visuallyhidden">Number of part year children</label>
        <%= select_tag "part_year_children_count", options_for_select((1..10).collect{|n| [n,n]}, @calculator.part_year_children_count), :class => "form-control" %>
        <%= submit_tag "Update Children", :name => "children", :class => "button update-button js-hidden" %>
      </div>

      <h2 id="children_heading">Enter the Child Benefit start and stop dates:</h2>
      <ul>
        <li>you can find the start date on your Child Benefit award notice</li>
        <li>the stop date is usually when a child turns 16 or leaves full-time education</li>
      </ul>

      <%= render "starting_children" %>
    </div>

    <% if can_haz_results? %>
    <div class="results">
      <h2 id="results" class="results-heading">
        Results
      </h2>
      <%= render "results" %>
    </div>
    <% end %>
  </article>
</div>
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help
